body {
  background-color: beige;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif; 
}
#rotaryPhone {
  width: 300px;
  height: 300px;
  border: 5px solid black;
  border-radius: 50%;
  margin: 20px auto;
  position: relative;
}

.dial {
  width: 10px;
  height: 60px;
  background-color: black;
  position: absolute;
  left: 50%;
  transform-origin: 50% 100%;
  transition: 0.3s ease;
}
  .dial:nth-child(1) { transform: rotate(30deg); }
  .dial:nth-child(2) { transform: rotate(60deg); }
  .dial:nth-child(3) { transform: rotate(90deg); }
  .dial:nth-child(4) { transform: rotate(120deg); }
  .dial:nth-child(5) { transform: rotate(150deg); }
  .dial:nth-child(6) { transform: rotate(180deg); }
  .dial:nth-child(7) { transform: rotate(210deg); }
  .dial:nth-child(8) { transform: rotate(240deg); }
  .dial:nth-child(9) { transform: rotate(270deg); }
  .dial:nth-child(10) { transform: rotate(300deg); }
  .dial:nth-child(11) { transform: rotate(330deg); }
  .dial:nth-child(12) { transform: rotate(0deg); }


