body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcoral;
    font-family: 'Playpen Sans', cursive;
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    padding: .5em; 
    background-color: aquamarine; 
}
.grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows:100%;
  }

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  } 

nav a{
    width:10vw;
    float:left;
    display:block;
    text-align: center;
    text-decoration: none;
    color:green;
    padding: .5em 1em;  
}

img{
    width:40vw;
    height: 70vh;
}

#red-ball{
    background-color: rgb(173, 173, 236);
    width: 30px;
    height:30px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    position: relative;
}
    
#red-ball{ 
    animation-name: ballfly;
    background-color: blue;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes ballfly {
    from{top: 100%;
        left: 100%;}
    to{top: 0;
        left: 0;}
}

a:hover {
    color: magenta;
  }

a { 
    transition: color 2s; 
}